<div class="page-title">
  <h4>Create Agreement</h4>
</div>
<div class="card">
  <div class="card-body">
    <div class="table-responsive custom-table">
      <table>
        <thead>
          <tr>
            <th width="30"></th>
            <th>Template Name</th>
            <th>Expiry Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="custom-checkbox no-text" for="option1">
                  <input type="checkbox" id="option1">
                  <span class="checkmark"></span>
              </label>
            </td>
            <td>Lorem ipsum</td>
            <td>21-12-2023</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <div class="action-btns">
                <a class="icon-box">
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a class="icon-box">
                  <i class="fa-regular fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="custom-checkbox no-text" for="option1">
                  <input type="checkbox" id="option1">
                  <span class="checkmark"></span>
              </label>
            </td>
            <td>Lorem ipsum</td>
            <td>21-12-2023</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <div class="action-btns">
                <a class="icon-box">
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a class="icon-box">
                  <i class="fa-regular fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="custom-checkbox no-text" for="option1">
                  <input type="checkbox" id="option1">
                  <span class="checkmark"></span>
              </label>
            </td>
            <td>Lorem ipsum</td>
            <td>21-12-2023</td>
            <td>
              <span class="badge badge-light">Expired</span>
            </td>
            <td>
              <div class="action-btns">
                <a class="icon-box">
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a class="icon-box">
                  <i class="fa-regular fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="8">
              <div class="text-right mt-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
