.btn,
.btn:focus,
.btn.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    outline: 0;
    box-shadow: none;
}

.btn {
    font-size: 14px;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 0;
    line-height: 1;
    @include media-breakpoint-up(xl) {
      font-size: 15px;
    }
    &.btn-outline-secondary{
      border-color: $secondary;
      color: $secondary;
      &:hover, &:focus,
      &:not(:disabled):not(.disabled):active {
          color: $secondary;
          border-color: $secondary;
          background-color: $gray-100;
      }
        &.has-white-bg{
          background-color: $white;
          &:hover{
            background-color: $primary;
          }
        }       
    }
    &.btn-sm{
      padding: 8px 10px;
    }
}
.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    &:hover, &:focus,
    &:not(:disabled):not(.disabled):active {
        background-color: rgba($primary,0.6);
        color: $white;
        border-color: rgba($primary,0.6);
    }
}
.btn-secondary{
  color: $white;
  &:hover, &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: rgba($secondary,0.8);
    border-color: rgba($secondary,0.8);
    color: $white;
  }
}
.btn-light{
  background-color: $gray-200;
  border-color: $gray-200;
  color: $body-font;
  &:hover{
    background-color: $gray-300;
    border-color: $gray-500;
    color: $body-font;
  }
}
.btn-wrap{
  .btn{
    display: inline-block;
    &+ .btn{
      margin-left: 10px;
    }
  }
}