.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after{
    background-color: $primary;
}
.theme-green .bs-datepicker-body table td.week span{
    color: $primary;
}

.input-group-icon.datepicker-outer{
  .form-control{
    cursor: pointer;
  }
}

.date-wrap{
  .form-group{
    max-width: 130px;
    &+ .form-group{
      margin-left: 10px;
    }
  }
}
.daterange-wrap{
  .form-group{
    max-width: 190px;
    .form-control{
      padding-right: 30px;
    }
  }
}
// patch for datepicker
// bs-datepicker-container, bs-daterangepicker-container{
//   margin-left: -165px !important;
// }
// @media screen and (max-width:600px){
//   bs-datepicker-container{
//       position: fixed !important;
//       margin-left: 0 !important;
//       transform: translate3d(10px, 240px, 0px)!important;
//   }
// }