<!-- <header class="main-header">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div class="logo d-flex align-items-center">
                <a href="#" class="logo-outer">
                    <img src="../../../../assets/images/logo.png" alt="logo">
                </a>
                <a href="#" class="hamburger-icon" (click)="toggleMobileMenu()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logout-btn d-flex align-items-center">
                <a (click)="onLogout()">
                    <img src="../../../../assets/images/main-dashboard/Icon awesome-power-off.svg" alt="logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</header> -->
