/*----dashboard-top----*/
.dashboard-top {
    position: relative;

    .user-name {
        font-size: 18px;
        font-weight: 500;
        color: #18192DF9;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .description {
        font-size: 13px;
        font-weight: 500;
        color: #18192DF9;
    }

    .showing-data-area {
        position: absolute;
        top: 20px;
        left: 11%;
        min-width: 130px;
    }
}

.dashboard-panel {
    .panel-box {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #F5F5F5;
        border-radius: 5px;
        padding: 20px;
        height: 100px;
        cursor: pointer;
        transition: all .25s ease;

        &:hover {
            transform: translateY(-4px) scale(1.02);
            box-shadow: 0 14px 24px rgb(62 57 107 / 7%);
        }


        .icon-view {
            img {
                height: 40px;
                width: 40px;
            }

        }

        .desc-view {
            margin-left: 22px;
            padding-top: 9px;

            .heading {
                font-size: 18px;
                font-weight: 500;
                color: #1C2947;
                margin-bottom: 7px;
                line-height: 0.5;

                .min-text {
                    font-size: 12px;
                    font-weight: 400;
                    color: #828191;
                }
            }

            .detail {
                font-size: 13px;
                font-weight: 400;
                color: #828191;
                margin-bottom: 0px;
            }
        }
    }

}

/*---graph---*/
.graph {
    .document-count-line-chart {
        // height: 350px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EFF2F5;
        border-radius: 5px;
        padding: 20px 15px;

        .title-section {

            .title {
                color: #18192DF9;
                font-size: 17px;
                font-weight: 500;

                small {
                    color: #828191;
                    font-size: 13px;
                    font-weight: 400;
                    margin-left: 5px;
                }
            }

            .btn-group {

                .btn-secondary {
                    color: #828191;
                    background-color: transparent;
                    border-color: #EBEBEB;
                    font-size: 13px;
                    box-shadow: none;

                    &:hover {
                        background: #F0F0F0 0% 0% no-repeat padding-box;
                        color: #18192DF9;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }

                .active {
                    background: #F0F0F0 0% 0% no-repeat padding-box;
                    color: #18192DF9;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
        }
    }
}

/*---pie-chart-area---*/
.pie-chart-area {

    .pie-chart-box {
        // height: 300px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EFF2F5;
        border-radius: 5px;
        padding: 20px 15px;

        .title {
            color: #18192DF9;
            font-size: 17px;
            font-weight: 500;

            small {
                color: #828191;
                font-size: 13px;
                font-weight: 400;
                margin-left: 5px;
            }
        }
    }
}


/*---bar-chart-area---*/
.chart {
    width: 100%;
    min-height: 400px;
}
.empty-box{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}