<div class="page-title">
  <h4>Agreements</h4>
  <a class="btn btn-primary" [routerLink]="['/agreements/create-agreement']">Create Agreement</a>
</div>
<div class="card">
  <div class="card-body">
    <div class="table-responsive custom-table">
      <table>
        <thead>
          <tr>
            <th>Agreement Name</th>
            <th>Template</th>
            <th>Created On</th>
            <th>Status</th>
            <th width="100">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABC_Dealer Agreement</td>
            <td>Dealer Agreement</td>
            <td>21-12-2022</td>
            <td>
              <span class="badge badge-info">Sent for E-sign</span>
            </td>
            <td>
              <div class="action-btns">
                 <a class="icon-box" href="#" title="View Template">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a class="icon-box" href="#" title="Download Template">
                  <i class="fa-solid fa-download"></i>
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>ABC_Dealer Agreement</td>
            <td>Dealer Agreement</td>
            <td>21-12-2022</td>
            <td>
              <span class="badge badge-info">Sent for E-sign</span>
            </td>
            <td>
              <div class="action-btns">
                 <a class="icon-box" href="#" title="View Template">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a class="icon-box" href="#" title="Download Template">
                  <i class="fa-solid fa-download"></i>
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>ABC_Dealer Agreement</td>
            <td>Dealer Agreement</td>
            <td>21-12-2022</td>
            <td>
              <span class="badge badge-info">Sent for E-sign</span>
            </td>
            <td>
              <div class="action-btns">
                 <a class="icon-box" href="#" title="View Template">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a class="icon-box" href="#" title="Download Template">
                  <i class="fa-solid fa-download"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="8">
              <div class="text-right mt-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
