    <router-outlet></router-outlet>

    <!-- <div class="dashboard-top">
        <div class="row">
            <div class="col-lg-8">
                <p class="user-name">Welocme, John Doe</p>
                <p class="description">Here Are Some Statistics For Your Files!</p>
            </div>
            <div class="col-lg-4 text-right">
                <button type="button" class="btn btn-primary">
                    <img src="../../assets/images/main-dashboard/file-upload.svg" alt="upload icon">
                    Upload Files
                </button>
            </div>
        </div>
    </div> -->
    <!--dashboard-panel-->
    <!-- <div class="dashboard-panel">
        <div class="row">
            <div class="col-md-3 pr-lg-0">
                <div class="panel-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">27918</p>
                        <p class="detail">Total Files</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-lg-0">
                <div class="panel-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check-2.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">27918</p>
                        <p class="detail">Completed</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-lg-0">
                <div class="panel-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check-3.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">0</p>
                        <p class="detail">Queued</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check-4.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">0</p>
                        <p class="detail">Processing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 pr-lg-0">
                <div class="panel-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check-5.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">22750</p>
                        <p class="detail">Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-lg-0">
                <div class="panel-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check-6.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">3766</p>
                        <p class="detail">Rejected</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-lg-0">
                <div class="panel-box review-box d-flex align-items-center">
                    <div class="icon-view">
                        <img src="../../assets/images/main-dashboard/Check-7.svg">
                    </div>
                    <div class="desc-view">
                        <p class="heading">3766</p>
                        <p class="detail">Need Review</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--dashboard-panel-->