<div class="main-upload-page d-flex">
    <div class="col-lg-6 col-md-6">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-8">
                    <p class="page-title mb-1">File Details</p>
                    <div class="main-bradecrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#">All Files</a></li>
                                <li class="breadcrumb-item active" aria-current="page">File Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!--file-details-section-->
        <div class="file-details-section">
            <div class="header-sec border-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-md-12 col-lg-12">
                        <p class="file-name mb-0">{{fileDetailById?.pdf_name}}
                            <span class="ml-2 processed"
                                *ngIf="fileDetailById?.status == ''">{{fileDetailById?.status}}</span>
                            <span class="processed ml-2 "
                                *ngIf="fileDetailById?.status == 'Success'">{{fileDetailById?.status}}</span>
                            <span class="processed ml-2 "
                                *ngIf="fileDetailById?.status == 'Processing'">{{fileDetailById?.status}}</span>
                        </p>

                    </div>
                    <div class="col-md-12 col-lg-12 text-right mt-2"
                        *ngIf="(fileDetailById?.reveiwed == null || fileDetailById?.reveiwed == '')">
                        <button type="button" class="btn btn-light reject-btn mr-2" (click)="markReject()">
                            <svg baseProfile="tiny" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;"
                                xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="42px"
                                height="42px" viewBox="0 0 42 42" xml:space="preserve">
                                <path fill-rule="evenodd" d="M21.002,26.588l10.357,10.604c1.039,1.072,1.715,1.083,2.773,0l2.078-2.128
                                c1.018-1.042,1.087-1.726,0-2.839L25.245,21L36.211,9.775c1.027-1.055,1.047-1.767,0-2.84l-2.078-2.127
                                c-1.078-1.104-1.744-1.053-2.773,0L21.002,15.412L10.645,4.809c-1.029-1.053-1.695-1.104-2.773,0L5.794,6.936
                                c-1.048,1.073-1.029,1.785,0,2.84L16.759,21L5.794,32.225c-1.087,1.113-1.029,1.797,0,2.839l2.077,2.128
                                c1.049,1.083,1.725,1.072,2.773,0L21.002,26.588z" />
                            </svg>

                            Reject
                        </button>
                        <button type="button" class="btn btn-primary" (click)="markApprove()">
                            <img src="../../../assets/images/file-details/check-mark.svg" alt="upload icon">
                            Mark as Reviewed
                        </button>
                    </div>
                </div>
            </div>
            <!--pdf-file-inner-->
            <div class="pdf-file-inner">
                <!--section-1-->
                <div class="section-area section-1">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">BE No</span>
                            <span class="content">{{fileDetailById?.boe_details.BE_No}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">BE Date</span>
                            <span class="content">{{fileDetailById?.boe_details.BE_Date}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">BE Type</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">BE Status</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">Port Code</span>
                            <span class="content">{{fileDetailById?.boe_details.Port_Code}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">IEC/Br</span>
                            <span
                                class="content">{{fileDetailById?.boe_details.IEC}}{{fileDetailById?.boe_details.Br}}</span>
                        </div>
                    </div>
                </div>
                <!--section-1-->
                <!--section-2-->
                <div class="section-area section-2">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">IEC/Br</span>
                            <span
                                class="content">{{fileDetailById?.boe_details.IEC}}/{{fileDetailById?.boe_details.Br}}</span>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">GSTIN/TYPE</span>
                            <span class="content">{{fileDetailById?.boe_details.GSTIN_TYPE}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">inv type</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">CB CODE</span>
                            <span class="content">{{fileDetailById?.boe_details.CB_NAME}}</span>
                        </div>
                    </div>
                </div>
                <!--section-2-->
                <!--section-3-->
                <div class="section-area section-3">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <span class="title">Port</span>
                            <span class="content">{{fileDetailById?.boe_details.IMPORTER_ADDRESS}}</span>
                        </div>
                    </div>
                </div>
                <!--section-3-->
                <!--section-4-->
                <div class="section-area section-4">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">No of Invoices</span>
                            <span class="content">{{fileDetailById?.boe_details.No_of_Invoices}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">Packages</span>
                            <span class="content">{{fileDetailById?.boe_details.Packages}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">Item Count</span>
                            <span class="content">{{fileDetailById?.boe_details.Item_Count}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">Count</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">G.WT (KGS)</span>
                            <span class="content">{{fileDetailById?.boe_details.G_WT_KGS}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">Mode</span>
                            <span class="content">{{fileDetailById?.boe_details.Mode}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">DEF BE</span>
                            <span class="content">{{fileDetailById?.boe_details.DEF_BE}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">SEC 48</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">REIMP</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">PROV/FINAL</span>
                            <span class="content">{{fileDetailById?.boe_details.PROV_FINAL}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">ADV BE</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">ASSESS</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">Exam</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">HSS</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">FIRST CHECK</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                    </div>
                </div>
                <!--section-4-->
                <!--section-5-->
                <div class="section-area section-5">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">COUNTRY OF ORIGIN</span>
                            <span class="content">{{fileDetailById?.boe_details.COUNTRY_OF_ORIGIN}}</span>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">COUNTRY OF CONSIGNMENT</span>
                            <span class="content">{{fileDetailById?.boe_details.COUNTRY_OF_CONSIGNMENT}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">PORT OF LOADING</span>
                            <span class="content">{{fileDetailById?.boe_details.PORT_OF_LOADING}}</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">PORT OF SHIPMENT</span>
                            <span class="content">{{fileDetailById?.boe_details.PORT_OF_SHIPMENT}}</span>
                        </div>
                    </div>
                </div>
                <!--section-5-->
                <!--section-6-->
                <div class="section-area section-6">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <span class="title">IMPORTER NAME</span>
                            <span class="content">{{fileDetailById?.boe_details.IMPORTER_NAME}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <span class="title">IMPORTER ADDRESS</span>
                            <span class="content">{{fileDetailById?.boe_details.IMPORTER_ADDRESS}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <span class="title">CB NAME</span>
                            <span class="content">{{fileDetailById?.boe_details.CB_NAME}}</span>
                        </div>
                    </div>
                </div>
                <!--section-6-->
                <!--section-7-->
                <div class="section-area section-7">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">AEO</span>
                            <!-- nnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">CUR</span>
                            <span class="content">{{fileDetailById?.boe_details.CUR}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">AD CODE</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">BCD</span>
                            <span class="content">{{fileDetailById?.boe_details.Total_BCD}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">ACO</span>
                            <!-- nnnn -->
                            <span class="content"></span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">SWS</span>
                            <span class="content">{{fileDetailById?.boe_details.Total_SWS}}</span>
                        </div>
                    </div>
                    <!-- panding -->
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">NCCD</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">ADD</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">CVD</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">IGST</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">G CESS</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">SG</span>
                            <span class="content">{{fileDetailById?.boe_details.AD_CODE}}</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">SAED</span>
                            <span class="content">-</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">GSIA</span>
                            <span class="content">-</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">TIA</span>
                            <span class="content">-</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <span class="title">Health</span>
                            <span class="content">-</span>
                        </div>
                    </div>
                </div>
                <!--section-7-->
                <!--section-8-->
                <div class="section-area section-8">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">TOTAL DUTY</span>
                            <span class="content">0</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">INI</span>
                            <span class="content">0</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">PNLIY</span>
                            <span class="content">0</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">FINE</span>
                            <span class="content">0</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">TOT.ASS VAL</span>
                            <span class="content">657534</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">TOT. AMOUNT</span>
                            <span class="content">0</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">TOTAL DUTY</span>
                            <span class="content">0</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border-right">
                            <span class="title">INI</span>
                            <span class="content">0</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <span class="title">PNLIY</span>
                            <span class="content">0</span>
                        </div>
                    </div>
                </div>
                <!--section-8-->
                <!--section-9-->
                <div class="section-area section-9">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">IGM NO</span>
                            <span class="content">2263660</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">IGM DATE</span>
                            <span class="content">30/09/2020</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <span class="title">INW DATE</span>
                            <span class="content">2263660</span>
                        </div>
                    </div>
                </div>
                <!--section-9-->
                <!--section-10-->
                <div class="section-area section-10">
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">GIGMNO</span>
                            <span class="content">2263660</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">GIGMDT</span>
                            <span class="content">30/09/2020</span>
                        </div>
                    </div>
                    <div class="row border-bottom ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">MAWB NO</span>
                            <span class="content">2263660</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">DATE</span>
                            <span class="content">30/09/2020</span>
                        </div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
                            <span class="title">HAWB NO</span>
                            <span class="content">2263660</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="title">IGM DATE</span>
                            <span class="content">30/09/2020</span>
                        </div>
                    </div>
                </div>
                <!--section-10-->
            </div>
            <!--pdf-file-inner-->

        </div>
        <!--file-details-section-->
    </div>
    <!-- <div  style="width: 300px"> -->
    <div class="col-lg-6 col-md-6 pr-0">
        <!-- width="500" height="678" -->
        <!-- <ngx-extended-pdf-viewer [src]="pdfLink" [useBrowserLocale]="true"></ngx-extended-pdf-viewer> -->
        <!-- <object [data]="pdfLink" type="application/pdf"  style="width: 100%; height: 100%;">
        </object> -->
        <iframe id="documentIframe" [src]='pdfLink' style="width: 100%; height: 100%;"></iframe>
        <!-- <iframe src='https://www.africau.edu/images/default/sample.pdf' style="width: 100%; height: 100%;"></iframe> -->
        <!-- <iframe src='../../../assets/1130-boe.pdf' style="width: 100%; height: 100%;"></iframe> -->
    </div>
</div>